<!DOCTYPE html>
<div align="left">
  <form> 
    <button type="Submit" formaction="dashboard">Dashboard</button>
  </form>
</div>
<p></p>

<div class = "center"><h1>Compare Runs</h1></div>

<div class="row">
  <div class="col-md-6 col-md-offset-5">
    <%= form_tag '/comparison_report' do %>
      <b>Runs to compare (separate by commas): </b><%= text_field_tag 'value' %>
      <%= submit_tag 'Compare' %> 
    <% end %>
    <p></p>
    <%= form_tag '/run_lineage' do %>
      <b>Trace lineage by Run ID: </b><%= number_field_tag 'run_lin_val', in: 1...400 %>
      <%= submit_tag 'Submit' %>
    <% end %>
  </div>
</div>