<!DOCTYPE html>

<div align="left">
  <form> 
    <button type="Submit" formaction="dashboard">Dashboard</button>
  </form>
</div>


<p></p>

<div align="center">
	<p></p>
	<h1>Runs Compared: </h1>
	<%= @run_array.join(", ") %>
	<p></p>
	<%= link_to "Download data as CSV", download_data_path(format: "csv", :result_runs => @run_array) %>

	<h2>Total CPC (g/L/day) Over Time </h2>
	<%= line_chart @cpc_per_dw.map { |k,v|
				{name: k, data: v}},
					xtitle: "Hours Post Start", 
					ytitle: "Phycocyanin Content (g/L/day)",
					discrete: true,
					width: "1000px",
					height: "400px",
					library: {interpolateNulls: true}  %>
	<p></p>

	<h2>CPC Percentage (g/g)Over Time</h2>
	<%= line_chart @cpc_data.map { |k,v|
				{name: k, data: v}},
					xtitle: "Hours Post Start", 
					ytitle: "Dry Weight (g)",
					discrete: true,
					width: "1000px",
					height: "400px",
					library: {interpolateNulls: true}  %>
	<p></p>

	<h2>Dry Weight Over Time</h2>
	<%= line_chart @dw_data.map { |k,v|
				{name: k, data: v}},
					xtitle: "Hours Post Start", 
					ytitle: "Dry Weight (g)",
					discrete: true,
					width: "1000px",
					height: "400px",
					library: {interpolateNulls: true}  %>
	<p></p>

	<h2>Optical Density Over Time</h2>
	<%= line_chart @od_data.map { |k,v|
				{name: k, data: v}},
					xtitle: "Hours Post Start", 
					ytitle: "Optical Density @ A750",
					discrete: true,
					width: "1000px",
					height: "400px",
					library: {interpolateNulls: true} %>

	<h2>Normalized Optical Density Over Time</h2>
	<%= line_chart @norm_od_data.map { |k,v|
				{name: k, data: v}},
					xtitle: "Hours Post Start", 
					ytitle: "Optical Density @ A750",
					discrete: true,
					width: "1000px",
					height: "400px",
					library: {interpolateNulls: true} %>



	<h2>pH Over Time</h2>
	<%= line_chart @pH_data.map { |k,v|
				{name: k, data: v}},
					xtitle: "Hours Post Start", 
					ytitle: "pH",
					discrete: true,
					width: "1000px",
					height: "400px",
					library: {interpolateNulls: true}  %>

</div>