<!DOCTYPE html>
<div class = "center"><h1>Run Updated!</h1></div>

<p><b>Run ID: </b><%= @new_target[:id] %></p>
<p><b>Created At: </b><%= @new_target[:created_at] %></p>
<p><b>Scientist: </b><%= @new_target[:Scientist] %></p>
<p><b>Media: </b><%= @new_target[:Media] %></p>
<p><b>pH: </b><%= @new_target[:pH] %></p>
<p><b>Light Intensity: </b><%= @new_target[:Light_Intensity] %></p>
<p><b>Light Path: </b><%= @new_target[:Light_Path] %></p>
<p><b>Temperature: </b><%= @new_target[:Temperature] %></p>
<p><b>Organism: </b><%= @new_target[:Organism] %></p>
<p><b>Strain Id: </b><%= @new_target[:Strain_ID] %></p>