<!DOCTYPE html>
<div align="left">
  <form> 
    <button color="green" type="Submit" formaction="approval">Admin</button>
  </form>
</div>
<p></p>

<div class = "center" align="center"><h1>Matrix Genetics Pilot Facility Dashboard</h1></div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div align="center"> 
  <table border="0"> 
    <tr>
      <th><h1>RUNS</h1></th>
      <th><h1>DATAPOINTS</h1></th>
    </tr>
    <tr> 
      <td> 
        <form>
          <button type="submit" formaction="search">Search</button>
          <button type="submit" formaction="add_run">Add</button>
          <button type="submit" formaction="comparison_report">Compare</button>

        </form>
      </td>
      <td>
        <form> 
          <button type="submit" formaction="add_data">Add Data</button>
          <button type="submit" formaction="add_sample_set">Add Sample Set</button>
          <button type="submit" formaction="add_tot_protein">Add Total Protein</button>
        </form>
      </td>
    </tr>
    <tr>
      <td>
        <%= form_tag '/update_run' do %>
          <%= "Update" %>
          <%= number_field_tag 'run_id_val' %>
          <%= submit_tag 'GO' %> 
        <% end %>
      </td>
      <td>
        <%= form_tag '/data_results' do %>
          <%= "See Data by Run" %>
          <%= number_field_tag 'run_id_val' %>
          <%= submit_tag 'GO' %> 
        <% end %>
      </td>
    </tr>
  </table>
</div>
<p></p>
<div align="center">
  <h1>RUNS IN PROGRESS</h1>
  <table>                         
    <tr>                          
      <th>Run ID</th>
      <th>Start Date</th>
      <th>Organism</th>
      <th>Strain ID</th>
      <th>Light Intensity</th>
      <th>Light Notes</th>
      <th>Reactor Type</th>
      <th>Last OD</th>
      <th>Date OD Taken</th>
    </tr>
  <% @master_dict.each_pair do |k,v| %>       
    <tr>
      <td><%= k %></td>  
      <td><%= v["Start_date"].to_date %></td>  
      <td><%= v["Organism"] %></td>  
      <td><%= v["Strain_ID"] %></td> 
      <td><%= v["Light_Intensity"] %></td>
      <td><%= v["Light_Notes"] %></td> 
      <td><%= v["Reactor_Type"] %></td> 
      <td><%= v["Last_OD_val"] %></td> 
      <td><%= v["Last_OD_date"] %></td>
    </tr>
  <% end %>                        
  </table>  
</div>
