<!DOCTYPE html>

<div align="left">
  <form> 
    <button type="Submit" formaction="dashboard">Dashboard</button>
  </form>
</div>

<p></p>

<div align="center">
	<p></p>
	<h1>RUN REPORT: <%= @id_passed %></h1>
	<p></p>

	<h2>Optical Density Over Time</h2>
	<%= scatter_chart @od_data.pluck(:Hrs_Post_Start, :Var_Value), 
											xtitle: "Hours Post Start", 
											ytitle: "Optical Density @ A750",
											width: "1000px",
											height: "400px",
											library: {trendlines: "0" } %>
	<p></p>

	<h2>Dry Weight Over Time</h2>
	<%= scatter_chart @dw_data.pluck(:Hrs_Post_Start, :Var_Value), 
											xtitle: "Hours Post Start", 
											ytitle: "Dry Weight (g)",
											width: "1000px",
											height: "400px",
											library: {trendlines: "0" } %>
	<p></p>

	<h2>Dry Weight vs Optical Density</h2>
	<%= scatter_chart @combo_hash, 
											xtitle: "Dry Weight (mg)", 
											ytitle: "Optical Density @ 750nm",
											width: "1000px",
											height: "400px",
											library: {trendlines: "0" }  %>

	<% if @stat %>
		<p><b>Trendline Slope: </b><%= @r_squared.b %></p>
		<p><b>Chi Squared: </b><%= @r_squared.r %></p>
	<% end %>
	
	<p></p>

	<h2>pH Over Time</h2>
	<%= scatter_chart @pH_data.pluck(:Hrs_Post_Start, :Var_Value), 
											xtitle: "Hours Post Start", 
											ytitle: "pH Probe",
											width: "1000px",
											height: "400px",
											library: {trendlines: "0" } %>

</div>



