<!DOCTYPE html>
<div align="left">
  <form> 
    <button type="Submit" formaction="dashboard">Dashboard</button>
  </form>
</div>
<p></p>

<div class = "center"><h1>Pilot Facility Search Results</h1></div>

<p><b>Your query variable was: </b><%= @Variable %></p>
<p><b>Your query value was: </b><%= @Value %></p>

<p><b>RESULTS: </b></p>
<%= link_to "Download data as CSV", download_data_path(format: "csv", :result_runs => @result_runs) %>
<p></p>
<table>                         
  <tr>                          
    <th>Run ID</th>
    <th>Actual Start Date</th>
    <th>Actual End Date</th>
    <th>Organism</th>
    <th>Strain ID</th>
    <th>pH</th>
    <th>Light Intensity</th>
    <th>Reactor ID</th>
    <th>Reactor Type</th>
    <th>Run Report</th>
  </tr>
<% @results.each do |p| %>       
  <tr>
    <td><%= p[:id] %></td>  
    <td><%= p[:Actual_start_date].to_date unless p[:Actual_start_date].nil?%></td>  
    <td><%= p[:Actual_end_date].to_date unless p[:Actual_end_date].nil? %></td>
    <td><%= p[:Organism] %></td>  
    <td><%= p[:Strain_ID] %></td>  
    <td><%= p[:pH] %></td>
    <td><%= p[:Light_Intensity] %></td>
    <td><%= p[:Reactor_ID] %></td>  
    <td><%= p[:Reactor_Type] %></td>
    <td><%= link_to("Report", report_path(:run_id => p[:id])) %></td>
  </tr>
<% end %>                        
</table>   