<!DOCTYPE html>
<div align="left">
  <form> 
    <button type="Submit" formaction="dashboard">Dashboard</button>
  </form>
</div>
<p></p>

<div class = "center"><h1>Update a Run</h1></div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <body>
      <%= form_for @target, url: {action: "update_run"} do |f| %>
        
        <%= f.hidden_field :id, :value => @target[:id] %></p>
        
        <p><%= f.label :Scientist, "Requesting Scientist" %>
        <%= f.text_field :Scientist, class: 'form-control', :value => @target[:Scientist] %></p>
        
        <p><%= f.label :Reactor_Type, "Reactor Type" %>
        <%= f.select :Reactor_Type, options_for_select(['10L Nalgene','20L Nalgene','10L Flat Panel','50L Round','Raceway'], @target[:Reactor_Type]) %></p>
        
        <p><%= f.label :Media, "Media" %>
        <%= f.select :Media, options_for_select(['1X SOT','1X BG11','3X BG11'], @target[:Media]) %></p>
        
        <p><%= f.label :pH, "pH" %>
        <%= f.number_field :pH, class: 'form-control',  :step => 0.1, :value => @target[:pH] %></p>
        
        <p><%= f.label :Light_Intensity, "Light Intensity (mmoles/m2/sec)" %>
        <%= f.number_field :Light_Intensity, class: 'form-control',  :step => 0.1, :value => @target[:Light_Intensity] %></p>
        
        <p><%= f.label :Light_Path, "Light Path (cm)" %>
        <%= f.number_field :Light_Path, class: 'form-control', :step => 0.1, :value => @target[:Light_Path] %></p>
        
        <p><%= f.label :Temperature, "Temperature (C)" %>
        <%= f.number_field :Temperature, class: 'form-control', :value => @target[:Temperature] %></p>
        
        <p><%= f.label :Organism, "Select target organism" %>
        <%= f.select :Organism, options_for_select(['Aponinum','Synechococcus 7942','E.coli'], @target[:Organism])%></p>
        
        <p><%= f.label :Strain_ID, "Strain ID" %>
        <%= f.number_field :Strain_ID, class: 'form-control', :value => @target[:Strain_ID] %></p>
        
        <p><%= f.label :Actual_start_date, "Start Date" %>
        <%= f.date_field :Actual_start_date, class: 'form-control' %></p>
        
        <p><%= f.label :Actual_end_date, "End Date" %>
        <%= f.date_field :Actual_end_date, class: 'form-control' %></p>
        
        <p><%= f.label :Reactor_ID, "Reactor ID" %>
        <%= f.number_field :Reactor_ID, class: 'form-control', :value => @target[:Reactor_ID], :max => 22 %></p>

        <%= f.submit "Update Run", class: "btn btn-primary" %>
      <% end %>
    </body>
  </div>
</div>

