<!DOCTYPE html>
<div align="left">
  <form> 
    <button type="Submit" formaction="dashboard">Dashboard</button>
  </form>
</div>
<p></p>

<div class = "center"><h1>Update a Run</h1></div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <body>
      <%= form_for @target, url: {action: "update_run"} do |f| %>
        
        <%= f.hidden_field :id, :value => @target[:id] %></p>
        
        <p><b>Start Day Fields</b></p>

        <p><%= f.label :Actual_start_date, "Start Date" %>
        <%= f.date_field :Actual_start_date, class: 'form-control' %></p>

        <p><%= f.label :Reactor_ID, "Reactor ID" %>
        <%= f.number_field :Reactor_ID, class: 'form-control', :value => @target[:Reactor_ID], :max => 45 %></p>

        <p><%= f.label :Reactor_Pos, "Reactor Position" %>
        <%= f.text_field :Reactor_Pos, class: 'form-control', :value => @target[:Reactor_Pos], :max => 30 %></p>

        <p><%= f.label :Reactor_vol, "Reactor Volume (L)" %>
        <%= f.number_field :Reactor_vol, class: 'form-control', :value => @target[:Reactor_vol], :max => 200, :step => 0.1 %></p>

        <p><%= f.label :Media_ID, "Media ID" %>
        <%= f.text_field :Media_ID, class: 'form-control', :value => @target[:Media_ID] %></p>

        <p><%= f.label :Parent_Run, "Parent Run ID" %>
        <%= f.number_field :Parent_Run, class: 'form-control', :value => @target[:Parent_Run], :max => 300 %></p>

        <p><b>End Day Fields</b></p>

        <p><%= f.label :Actual_end_date, "End Date" %>
        <%= f.date_field :Actual_end_date, class: 'form-control' %></p>

        <p><%= f.label :Day_Harvested, "When to harvest (days after start)" %>
        <%= f.number_field :Day_Harvested, class: 'form-control', :in => 1..10, :value => @target[:Day_Harvested] %></p>

        <p><b>Original Fields</b></p>

        <p><%= f.label :Scientist, "Requesting Scientist" %>
        <%= f.text_field :Scientist, class: 'form-control', :value => @target[:Scientist] %></p>
        
        <p><%= f.label :Organism, "Select target organism" %>
        <%= f.select :Organism, options_for_select(['Aponinum','Spirulina','Synechococcus 7942','E.coli'], @target[:Organism])%></p>
        
        <p><%= f.label :Strain_ID, "Strain ID" %>
        <%= f.text_field :Strain_ID, class: 'form-control', :value => @target[:Strain_ID] %></p>

        <p><%= f.label :Reactor_Type, "Reactor Type" %>
        <%= f.select :Reactor_Type, options_for_select(['10L Carboy','10L Glass Reactor','20L Carboy','20L Glass Reactor','10L Flat Panel','50L Round','Raceway','Flask'], @target[:Reactor_Type]) %></p>

        <p><%= f.label :Media, "Media" %>
        <%= f.select :Media, options_for_select(['10X SOT','1X SOT','1X BG11','3X BG11'], @target[:Media]) %></p>
        
        <p><%= f.label :Start_OD, "Target Starting OD" %>
        <%= f.number_field :Start_OD, class: 'form-control',  :step => 0.01, :in => 0..2, :value => @target[:Start_OD] %></p>
        
        <p><%= f.label :pH, "pH" %>
        <%= f.number_field :pH, class: 'form-control',  :step => 0.1, :in => 4..13, :value => @target[:pH] %></p>
        
        <p><%= f.label :Light_Intensity, "Light Intensity (microeinsteins)" %>
        <%= f.number_field :Light_Intensity, class: 'form-control', :in => 0..600, :value => @target[:Light_Intensity] %></p>
        
        <p><%= f.label :Light_Path, "Light Path (cm)" %>
        <%= f.number_field :Light_Path, class: 'form-control', :step => 0.1, :value => @target[:Light_Path] %></p>
        
        <p><%= f.label :Temperature, "Temperature (C)" %>
        <%= f.number_field :Temperature, class: 'form-control', :in => 10..45, :value => @target[:Temperature] %></p>
        
        <p><%= f.label :Air_Flow, "Air Flow (L/min)" %>
        <%= f.number_field :Air_Flow, class: 'form-control', :step => 0.1, :in => 0..5, :value => @target[:Air_Flow]  %></p>
        
        <p><%= f.label :CO2_Flow, "CO2 Flow (L/min)" %>
        <%= f.number_field :CO2_Flow, class: 'form-control', :step => 0.1, :in => 0..1, :value => @target[:CO2_Flow] %></p>
        
        <%= f.submit "Update Run", class: "btn btn-primary" %>
      <% end %>
    </body>
  </div>
</div>

