<!DOCTYPE html>
<div align="left">
  <form> 
    <button type="Submit" formaction="dashboard">Dashboard</button>
  </form>
</div>
<p></p>

<div class = "center"><h1>Add a Datapoint</h1></div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <body>
      <%= form_for @datapoint, url: {action: "add_data"} do |f| %>
        
        <p><%= f.label :Run_ID, "Run ID" %>
        <%= f.number_field :Run_ID, class: 'form-control' %></p>
        
        <p><%= f.label :Submitter, "Submitter" %>
        <%= f.text_field :Submitter, class: 'form-control' %></p>
        
        <p><%= f.label :Time_Taken, "Date Data Collected" %>
        <%= f.date_field :Time_Taken, class: 'form-control' %></p>
        
        <p><%= f.label :Hrs_Post_Start, "Hours Post Run Start" %>
        <%= f.number_field :Hrs_Post_Start, class: 'form-control', :in => 0..500 %></p>
        
        <p><%= f.label :Var_Name, "Variable Name" %>
        <%= f.select :Var_Name, [['pH'],['Optical Density'],['Temperature'],['Dry Weight'],['Microscopy'],['Plate']]%></p>
        
        <p><%= f.label :Var_Metric, "Variable Metric" %>
        <%= f.select :Var_Metric, [['pH'],['A750'],['Celsius'],['Gram']]%></p>
        
        <p><%= f.label :Var_Value, "Variable Value" %>
        <%= f.number_field :Var_Value, class: 'form-control',  :step => 0.001 %></p>
        
        <p><%= f.label :Notes, "Notes - e.g. plate media" %>
        <%= f.text_field :Notes, class: 'form-control', :size => 30 %></p>

        <%= f.submit "Submit Datapoint", class: "btn btn-primary" %>
      <% end %>
    </body>
  </div>
</div>