<!DOCTYPE html>
<div align="left">
  <form> 
    <button type="Submit" formaction="dashboard">Dashboard</button>
  </form>
</div>
<p></p>

<div class = "center"><h1>Add a Sample Set</h1></div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <body>
      <%= form_tag '/add_sample_set' do %>
      <p><b>RUN ID: </b><%= number_field_tag 'Run_ID', nil, :required => true  %></p>
      <p><b>Submitter: </b><%= text_field_tag 'Submitter', nil, :required => true %></p>
      <p><b>Date Taken (mm/dd/yyyy): </b><%= text_field_tag 'Time_Taken', nil, :required => true %></p>
      <p><b>Time Taken (Hour of Day, eg. 13 for 1pm): </b><%= number_field_tag 'Hour_Taken', nil, :step => 0.5%></p>
      <p><b>pH Probe: </b><%= number_field_tag 'pH_Probe', nil, :step => 0.01%></p>
      <p><b>OD (A750): </b><%= number_field_tag 'OD', nil, :step => 0.001 %></p>
      <p><b>Dry Weight Volume: </b><%= number_field_tag 'DW_vol', nil, :step => 1, :max => 20 %></p>
      <p><b>Dry Weight - pre(mg): </b><%= number_field_tag 'Dry_Weight_Pre', nil, :step => 0.001 %></p>
      <p><b>Dry Weight - post(mg): </b><%= number_field_tag 'Dry_Weight_Post', nil, :step => 0.001 %></p>
      <p><b>pH Meter: </b><%= number_field_tag 'pH_Meter', nil, :step => 0.01 %></p>
      <p><b>BG11 Plate (CFU): </b><%= number_field_tag 'BG', nil, :step => 1 %></p>
      <p><b>LB Plate (CFU): </b><%= number_field_tag 'LB', nil, :step => 1 %></p>

      <%= submit_tag 'Submit Sample Set' %> 
      <% end %>
    </body>
  </div>
</div>