<!DOCTYPE html>
<div align="left">
  <form> 
    <button type="Submit" formaction="dashboard">Dashboard</button>
  </form>
</div>
<p></p>

<% if @bad_data_error_msg %>
  <div align="center" class="notice"><%= @bad_data_error_msg %></div>
<% end %>

<% if @bad_data.empty? == false %>
  <div align="center">
	<h1>Data NOT Added</h1>
	  <table>                         
	    <tr>                          
	      <th>Run ID</th>
        <th>Date</th>
        <th>Protein Type</th>
        <th>Value</th>
	    </tr>
	    <% @bad_data.each do |x,y|  %>       
	      <tr>
	        <td><%= x %></td>  
	        <td><%= y[0] %></td>  
	        <td><%= y[1] %></td> 
	        <td><%= y[2] %></td> 
	      </tr>
	    <% end %>                        
	   </table> 
	</div>
<% end %>

<% if @dp_added.empty? == false %>
  <div align="center">
  <h1>Datapoints Added</h1>
    <table>                         
      <tr>                          
        <th>Datapoint ID</th>
        <th>Run ID</th>
        <th>Submitter</th>
        <th>Date Taken</th>
        <th>Hours Past Start</th>
        <th>Variable Name</th>
        <th>Variable Metric</th>
        <th>Variable Value</th>
      </tr>
      <% @dp_added.each do |x|  %>       
        <tr>
          <td><%= x[:id] %></td>  
          <td><%= x[:Run_ID] %></td>  
          <td><%= x[:Submitter] %></td>  
          <td><%= x[:Time_Taken].to_date %></td> 
          <td><%= x[:Hrs_Post_Start] %></td>
          <td><%= x[:Var_Name] %></td> 
          <td><%= x[:Var_Metric] %></td> 
          <td><%= x[:Var_Value] %></td> 
        </tr>
      <% end %>                        
    </table> 
  </div>
<% end %>

