<!DOCTYPE html>
<div align="left">
  <form> 
    <button type="Submit" formaction="dashboard">Dashboard</button>
  </form>
</div>
<p></p>

<div class = "center"><h1>Update a Run</h1></div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <body>
      <%= form_for @dp_target, url: {action: "update_data"} do |f| %>
        
        <%= f.hidden_field :id, :value => @dp_target[:id] %></p>
        
        <p><%= f.label :Run_ID, "Run ID" %>
        <%= f.number_field :Run_ID, class: 'form-control', :value => @dp_target[:Run_ID] %></p>
        
        <p><%= f.label :Submitter, "Submitter" %>
        <%= f.text_field :Submitter, class: 'form-control', :value => @dp_target[:Submitter] %></p>
        
        <p><%= f.label :Time_Taken, "Date Data Collected" %>
        <%= f.datetime_field :Time_Taken, class: 'form-control', :value => @dp_target[:Time_Taken] %></p>
        
        <p><%= f.label :Hrs_Post_Start, "Hours Post Run Start" %>
        <%= f.number_field :Hrs_Post_Start, class: 'form-control', :in => 0..500, :value => @dp_target[:Hrs_Post_Start] %></p>
        
        <p><%= f.label :Var_Name, "Variable Name" %>
        <%= f.select :Var_Name, options_for_select(['pH Probe','pH Meter','Optical Density','Temperature','Dry Weight','LB Plate','BG11 Plate'], @dp_target[:Var_Name]) %></p>
        
        <p><%= f.label :Var_Metric, "Variable Metric" %>
        <%= f.select :Var_Metric, options_for_select(['pH','A750','A600','Celsius','Grams','Pos/Neg'], @dp_target[:Var_Metric]) %></p>
        
        <p><%= f.label :Var_Value, "Variable Value" %>
        <%= f.number_field :Var_Value, class: 'form-control',  :step => 0.001, :value => @dp_target[:Var_Value] %></p>
        
        <p><%= f.label :Notes, "Notes" %>
        <%= f.text_field :Notes, class: 'form-control', :size => 30, :value => @dp_target[:Notes] %></p>

        <%= f.submit "Update Datapoint", class: "btn btn-primary" %>
      <% end %>
    </body>
  </div>
</div>

